[Unit]
Description=ISC Kea IPv6 DHCP daemon
Documentation=man:kea-dhcp6(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Environment="KEA_PIDFILE_DIR=/run/kea"
Environment="KEA_CONTROL_SOCKET_DIR=/run/kea"
Environment="KEA_LOCKFILE_DIR=/run/lock/kea"
Environment="KEA_DHCP_DATA_DIR=/var/lib/kea"
Environment="KEA_LOG_FILE_DIR=/var/log/kea"
ExecStart=/usr/sbin/kea-dhcp6 -c /etc/kea/kea-dhcp6.conf

[Install]
WantedBy=multi-user.target
